@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');






.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dark02{
  color: rgba(0, 0, 0, 0.5);

}





.bg-letter{
  background-image: url(assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}



@media screen and ( max-width: 576px) {
 
 .hid{
  width: 100%;
  display: none;
 }
 .bannerSec{
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);

 }
 .cardSec{
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);


 }
 
 .productSec{
  width: 100%;
  margin-top: 300px;
 }
 .productDes{
  align-items: center;
  text-align: start;
  margin: 0 auto;
  padding-right: 0px;
  padding-left: 50px;
 }
 .mainClass,
 .navbar{
  width: 100%;
 }
 .item2 { order: 2; }
  .item1 { order: 1; }
 
  .loverSec{
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  margin-top:1100px;
 }

 .loverDescrip{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
 }
  
}